[package]
name = "third-party-library"
version.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1.0.100", features = ["backtrace"] }
fake = { version = "4.4.0", features = ["derive"] }
opentelemetry = "0.23.0"
opentelemetry_sdk = { version = "0.23.0", features = ["rt-tokio"] }
opentelemetry-otlp = "0.16.0"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["full"] }
tracing = "0.1.41"
tracing-opentelemetry = "0.24.0"
tracing-subscriber = { version = "0.3.20", features = ["json", "env-filter"] }

[dev-dependencies]
config = "0.15.18"
criterion = "0.7.0"
dotenvy = "0.15.7"
mockall = "0.13.1"
phonenumber = "0.3.7"
proptest = "1.8.0"
proptest-derive = "0.7.0"
rstest = "0.26.1"
serde = { version = "1.0.228", features = ["derive"] }
validator = { version = "0.20.0", features = ["derive"] }

[[bench]]
name = "criterion"
harness = false
